// Variables
@titleColor: white;
@containerColor: rgba(0,0,0, 0.45);
@backgroundColor: rgba(201,204,222, 1);
@errorColor: rgba(252, 199, 199, 1);
@errorBorderColor: red;

*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	height: 100%;
	background: url('../images/bg.jpg');
	background-attachment: fixed;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

h2{
	text-decoration: underline;
}

h3{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

span{
	font-weight: bold;
}

ul{
	padding-left: 25px;
	list-style-type: square;
}

.clear{
	clear: both;
}

.container{
	width: 960px;
	padding-bottom: 10px;
	margin: auto;
	background-color: @containerColor;
}

.inner-container{
	margin-left: 10px;
	margin-right: 10px;
}

.header{
	text-align: center;
	color: @titleColor;
	margin-bottom: 25px;
}

#help{
	width: 320px;
	padding: 10px;
	margin-bottom: 10px
}

.bottom-frame{
	margin-top: 25px;
}

.left-column{
	float: left;
	width: 610px;
	height: 765px;
	margin-right: 10px;
}

.right-column{
	float: left;
	width: 320px;
	height: 765px;
}

.editor-data, .terrain-data, .level-data, .tile-data, .tree-data, .positions-data, .instructions-data{
	background-color: @backgroundColor;
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px;
}

.size-editor, .timer-editor, .level-info, .tree-info, .positions-info, .instructions-info{
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
}

.type{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	height: 115px;
	margin-top: 20px;
	padding: 5px;
}

.type p{
	text-shadow: 1px 2px 1px black;
	color: white;
	font-size: 30px;
	margin-top: 45px;	
}

.center-image{
	background-position: center;
}

#empty{
	background-image: url("../images/grass.jpg");
	.center-image;
}

#wall{
	background-image: url("../images/wall.jpg");
	.center-image;
}

#moving-wall{
	background-image: url("../images/up-wall.jpg");
	.center-image;
}

#moving-wall-reverse{
	background-image: url("../images/down-wall.jpg");
	.center-image;
}

.terrain-data{
	margin-top: 5px;
}

.tree-data{
	margin-top: 8px;
	margin-bottom: 8px;
}

.tree-info label{
	display: inline-block;
	width: 30%;
}

.tile-data{
	height: 608px;
}

.timer-editor{
	margin-left: 8px;
}

.lines, .columns, .min-timer, .max-timer{
	float: left;
	width: 47%;
	text-align: center;
}

#remove-line, #input-lines, #add-line, #remove-column, #input-columns, #add-column{
	display: inline-block;
	padding: 2px;
}

#remove-min-time, #input-min-time, #add-min-time, #remove-max-time, #input-max-time, #add-max-time{
	display: inline-block;
	padding: 2px;
}

#input-lines, #input-columns, #input-min-time, #input-max-time{
	width: 30px;
	text-align: center;
}

canvas{
	cursor: pointer;
	background-color: white;
	border: 1px solid black;
}

.size-editor, .timer-editor{
	text-align: center;
	float: left;
	width: 46%;
	padding: 7.5px;
}

#column-pos-player1, #line-pos-player1, #column-pos-player2, #line-pos-player2{
	margin: 5px 5px;
	width: 35px;
	text-align: center;
}

.level-data{
	float:left;
	width: 350px;
	
}

.instructions-data{
	display:none;
	float: left;
	width: 600px;
}

.error{
	display: none;
	text-align: center;
	background-color: @errorColor;
	color: @errorBorderColor;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 8px;
	padding-bottom: 3px;
	padding-top: 8px;
	height: 25px;
	border: 1px solid red;
	border-radius: 5px;
}

#error-span{
	color: red;
} 

#save, #reset{
	margin-left: 10px;
	height: 30px;
	padding: 5px;
	margin-top: 5px;
}

#apply-terrain{
	font-size: 24px;
	padding: 5px;
	margin-top: 5px;
}

#save:hover, #reset:hover, #apply-terrain:hover, #apply-pos-player1:hover, #apply-pos-player2:hover, #help:hover{
	background-color: black;
	color: white;
}